<header class="site-header">
    <nav class="navbar">
        <div class="header-container">
            <a href="index.html" class="logo-link">
                <img id="logo" src="assets/imagens/Logo.png" width="350" alt="Logo Incepi do Brasil">
            </a>

            <div id="navbarsPrincipal">
                <ul>
                    <li><a class="caminho-relativo" href="index.html">Home</a></li>
                    <li><a class="caminho-relativo" href="pages/produtos.html">Produtos</a></li>
                    <li><a class="caminho-relativo" href="pages/orcamento.html">Orçamento</a></li>
                    <li><a class="caminho-relativo" href="pages/aplicacao.html">Aplicação</a></li>
                    <li><a class="caminho-relativo" href="pages/tipos-de-plastico.html">Tipos de Plástico</a></li>
                    <li><a class="caminho-relativo" href="pages/qualidade.html">Qualidade</a></li>
                    <li><a class="caminho-relativo" href="pages/trabalhe-conosco.html">Trabalhe Conosco</a></li>
                    <li><a class="caminho-relativo" href="pages/contato.html">Contato</a></li>
                    <li><a class="caminho-relativo" href="pages/empresa.html">Empresa</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>